/* --- */

* {
font-family: 'Monaco', 'Source Code Pro', monospace;
background-color: #001033;
color:#bbbbbb;
}

a:link {
    color: #bbbbbb
}

a:visited {
    color: #bbbbbb;
}

.title {
    background-color: navy;
    color: white;
    text-align: center;
}

.teeohsee {
    list-style-type: "+ ";
}

.ingredients {
    list-style-type: circle;
    background-color: #1050bb;
}

.directions {
    background-color: #1050bb;
}